{% extends 'baseBO.html.twig' %}
{% block title %}Hello BlogController!{% endblock %}

{% block body %}
{% if articles %}
    <table id=""articles class="table table-striped">
        <thead>
            <tr>
                <th>Article</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
              <tr>
                  <td>{{ article }}</td>
                  <td> <a href="#" class="btn btn-dark">Détails</a></td>
                  <td> <a href="#" class="btn btn-dark">Modifier</a></td>
                  <td> <a href="#" class="btn btn-danger">Supprimer</a></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>pas d'articles</p>
{% endif %}
{% endblock %}